@Engin, Ehsan, Stella

.hidetag{
    display:none;
}

.loginlabel{
	width: 30%;
	vertical-align: top;
	text-align: right;
	padding-right: 5px;
}

.logininput{
	vertical-align: top;
}

td.right{
	text-align: right;
}

maxwidth{
	width:100%;	
}