@Engin, Ehsan, Stella

div[id="shsbody"]{
	background-color: #808080; /*dark gray*/
	width:90%;	
}

select,input[type="text"],input[type="password"]{
	background-color: #white; /*silver like*/
}

legend{
	color: #228B22;
}

td[id="controllboard_west_td"]{
	width: 250px;
	
}

div{
	width: 100%;
	/*height: 100%;*/
	overflow: auto;
}

table{
	width: 100%;
	/*height: 100%;*/
}